@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  font-family: 'Playfair Display', serif;
  background-color: #f5edda;
}

/* === MOBILE STYLE === */

/* History of Coffee */

.nav_bar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 15px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.nav_bar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #f5edda;
  display: block;
  transition: 0.3s;
}

.nav_bar a:hover {
  color: #f1f1f1;
}

.nav_bar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#trigger {
  position: absolute;
    top: 0;
    right: 25px;
    font-size: 48px;
    margin-left: 50px;
    cursor: pointer;
}

.home_history {
  margin-top: 50px;
  padding: 20px;
  font-size: 1.1rem;
}

.home_history h1 {
  padding: 20px;
  text-align: center;
}

.home_history p {
  word-spacing: 3px;
  text-indent: 10px;
}

.coffee_img {
  width: 95%;
  height: auto;
  display: block;
  margin: auto;
  padding: 20px 0px;
  border-radius: 5px;
}

/* CAPPUCCINO */
.cappuccino_history {
  margin-top: 50px;
  padding: 20px;
  font-size: 1.1rem;
}

 .coffee_video {
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
  padding: 20px 0px;
  border-radius: 5px;
}

.cappuccino_history h1 {
  padding: 20px;
  text-align: center;
}

.cappuccino_history p {
  word-spacing: 3px;
  text-indent: 10px;
}

/* AMERICANO */

#header_americano {
  grid-area: "header";
  margin-top: 50px;
  text-align: center;
  padding: 5px;
  font-size: 2.5rem;
}
#p1_americano {
  grid-area: "paragraph1";
  font-size: 1.2rem;
  text-indent: 20px;

}
#p2_americano {
  grid-area: "paragraph2";
  font-size: 1.2rem;
  text-indent: 20px;

}
#img_americano {
  grid-area: "image1";
  max-width: 100%;
  padding: 20px 0px;
}
#img2_americano {
  grid-area: "image2";
  max-width: 100%;
  padding: 20px 0px;

}

#content_americano {
  display: grid;
  grid-template-rows: .4fr .4fr .4fr .4fr;
  grid-template-areas:
  "header"
  "paragraph1"
  "image1"
  "paragraph2"
  "image2";
  padding: 20px;
  max-width: 100%;
}

/*  ESPRESSO */
#content_espresso {
  margin-top: 70px;
}
#header_espresso {
  text-align: center;
  font-size: 2.5rem;
}
#img_espresso, #img2_espresso, #img3_espresso {
  max-width: 100%;
  border-radius: 10px;
  padding: 10px;
}
#p1_espresso, #p2_espresso, #p3_espresso {
  padding: 20px;
  text-indent: 10px;
  font-size: 1.2rem;
}

/*  MACCHIATO */
#content_macchiato {
  margin-top: 70px;
  height: 100vh;
  width: auto;
  background: url(../images/macchiato.jpg) no-repeat center center;
  background-size: cover;
}
#header_macchiato {
  text-align: center;
  font-size: 3rem;
  color: #f5edda;
  position: relative;
  top: 45%;
  background: rgba(245 , 237, 218, 0.2);
}
#p1_macchiato, #p2_macchiato, #p3_macchiato, #p4_macchiato {
  padding: 20px;
  text-indent: 10px;
  font-size: 1.2rem;
}

/* LATTE */
#header_latte {
  margin-top: 100px;
  text-align: center;
  padding: 5px;
  font-size: 3rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.box_image{
  width: 100%;
  margin-top: 20px;
}

/* ABOUT */
#form_wrapper {
width: 100%;
height: 100vh;
padding: 20px;
display:flex;
justify-content: center;
align-items: center;
}

form {
width:100%;
background: #fff;
border-radius: 10px;
padding: 20px;
}

input[type=text], input[type=email] {
width: 60%;
padding: 12px 0px 4px 4px;
margin: 6px 0 20px;
display: block;
border:none;
border-bottom: 1px dotted #000;
font-size:18px;
font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
color:#000;
background: #eee;
transition:all .3s;
}

input[type=text]:focus, input[type=email]:focus {
width: 100%;
color:#f00;
outline: none;
border-bottom: 1px dotted #f00;
}

input[type=submit], input[type=reset] {
display: inline-block;
width: 50%;
background-color: #333;
color: #f5edda;
padding: 10px 20px;
margin: 14px 0;
outline: none;
border: none;
border-radius: 4px;
cursor: pointer;
font-size:14px;
font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
transition:all .3s;   
}

input[type=submit]:hover, input[type=reset]:hover {
  background-color:#333;
}

textarea {
display: block;
width: 100%;
height: 500px;
padding: 12px 20px;
margin: 6px 0 20px;
border-radius: 4px;
border: none;
border-bottom: 1px dotted #000;
background-color: #eee;
font-size:18px;
resize: none;
color:#333;
font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
transition:all .3s; 
}

textarea:focus {
background: #333;
color:#fff;
outline: none;
}

label {
font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
font-size: 18px;
font-weight: bold;
}

#title_about  {
margin-top: 70px;
text-align: center;
font-size: 2.5rem;
}

#p1_about, #p2_about {
  padding: 20px;
  text-indent: 10px;
  font-size: 1.2rem;
}

/* === DESKTOP STYLE === */
/* History of Coffee */

@media only screen and (min-width: 768px) {
  .nav_bar {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: fixed;
    z-index: 1;
}
  .nav_bar .closebtn {
    display: none;
  }
  .nav_bar a {
  padding: 10px 20px;
  font-size: 1.5rem;
  }
  .nav_bar a:hover {
    color: rgb(119, 129, 59);
  }
  .home_history {
    margin-top: 80px;
    padding: 20px;
    font-size: 1.5rem;
  }

  .home_history h1 {
    animation: focus-in-contract-bck 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	  animation: focus-in-contract-bck 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  @-webkit-keyframes focus-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(300px);
              transform: translateZ(300px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(12px);
              transform: translateZ(12px);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes focus-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(300px);
              transform: translateZ(300px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(12px);
              transform: translateZ(12px);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  

  .home_history p {
    font-size: 1.3rem;
  }

  .coffee_img {
    width: 30%;
    float: left;
    padding: 20px;
    animation: text-focus-in 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	  animation: text-focus-in 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  }

  @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  

  /* CAPPUCCINO */
  .cappuccino_history {
    margin-top: 80px;
    padding: 20px;
    font-size: 1.5rem;
  }

  .cappuccino_history h1 {
    animation: focus-in-contract-bck 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	  animation: focus-in-contract-bck 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  @-webkit-keyframes focus-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(300px);
              transform: translateZ(300px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(12px);
              transform: translateZ(12px);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes focus-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(300px);
              transform: translateZ(300px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(12px);
              transform: translateZ(12px);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }

  .cappuccino_history p {
    font-size: 1.3rem;
  }

  .coffee_video {
    width: 40%;
    float: right;
    padding: 20px;
  }

  .cappuccino_paragraph2 {
    position: relative;
    top: 80px;
  }

  /* AMERICANO */
/* AMERICANO */

#header_americano {
  font-size: 2.5rem;
  animation: focus-in-contract-bck 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: focus-in-contract-bck 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
            transform: translateZ(12px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
            transform: translateZ(12px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

#p1_americano {
  grid-column: 2/4;
  font-size: 1.2rem;

}
#p2_americano {
  grid-column: 2/3;
  font-size: 18px;
  margin-top: 130px;

}
#img_americano {
  grid-column: 1/2;
  grid-row: 2/3;
  max-width: 75%;
  justify-self: center;
  align-self: center;
  margin-top: 100px;
  border-radius: 10px;

}
#img2_americano {
  grid-column: 3/4;
  max-width: 75%;
  justify-self: center;
  align-self: center;
  margin-top: 100px;
  border-radius: 10px;



}

#content_americano {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "header paragraph1"
  ". image2 paragraph2"; 
  margin-top: 100px;
}

/*  ESPRESSO */
#content_espresso {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}
#header_espresso {
  text-align: center;
  max-width: 100%;
  padding: 20px;
  animation: scale-in-ver-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: scale-in-ver-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes scale-in-ver-center {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }
}
@keyframes scale-in-ver-center {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }
}

#img2_espresso {
  padding-left: 20px;
}
#img_espresso, #img2_espresso, #img3_espresso {
  max-width: 25%;
  max-height: auto;
  border-radius: 15px;

}
#p1_espresso, #p2_espresso, #p3_espresso {
  max-width: 30%;

}

/* MACCHIATO */
#content_macchiato {
  margin-top: 0px;
}
#header_macchiato {
  font-size: 5rem;
  background: none;
  animation: tracking-in-contract-bck 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	animation: tracking-in-contract-bck 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
}
}

#content2_macchiato {
  display: flex;
  flex-wrap: wrap;
}
#p1_macchiato, #p2_macchiato {
  width: 50%;
}

/* LATTE */

#header_latte {
  display: block;
  position: relative;
  left: 45%;
  width: 15%;
  border-bottom: solid thin #111;
  animation: tracking-in-contract-bck 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	animation: tracking-in-contract-bck 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
}
}

div.container {
  display: grid;
  grid-template-areas: 
  "image1 text1"
  "text2 image2"
  "image3 text3"
  "text4 image4"
  "image5 text5"
  "text6 image6";
}

img.box_image {
  width: 100%;
  grid-area: image1;
}
img.box_image2 {
  width: 100%;
grid-area: image2;
}
img.box_image3 {
  width: 100%;
  grid-area: image3;
}
img.box_image4 {
  width: 100%;
  grid-area: image4;
}
img.box_image5 {
  width: 100%;
  grid-area: image5;
}
img.box_image6 {
  width: 100%;
  grid-area: image6;
}
span#text_1 {
  width: 50%;
  font-size: 2rem;
  grid-area: text1;
  justify-self: center;
  align-self: center;

}
span#text_2 {
  width: 50%;
  font-size: 2rem;
  grid-area: text2;
  justify-self: center;
  align-self: center;

}
span#text_3 {
  width: 50%;
  font-size: 2rem;
  grid-area: text3;
  justify-self: center;
  align-self: center;
}
span#text_4 {
  width: 50%;
  font-size: 2rem;
  grid-area: text4;
  justify-self: center;
  align-self: center;
}
span#text_5 {
  width: 50%;
  font-size: 2rem;
  grid-area: text5;
  justify-self: center;
  align-self: center;
}
span#text_6 {
  width: 50%;
  font-size: 2rem;
  grid-area: text6;
  justify-self: center;
  align-self: center;
}

#form_wrapper {
  width: 40%;
}
  
  input[type=text], input[type=email] {
  width: 80%;
  }
  
  input[type=submit], input[type=reset] {
  display: block;
  width: 30%; 
  }
  #title_about  {
  margin-top: 70px;
  text-align: center;
  font-size: 2.5rem;
  }
  
  #p1_about, #p2_about {
    
    font-size: 1.5rem;
  }
}